@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);

/* entypo */
[class*="entypo-"]:before {
    font-family: "entypo", sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: "FontAwesome", sans-serif;
}

* {
    font-family: "Lato", sans-serif;
    color: #403f3f;
}

img,
embed,
object,
video {
    max-width: 100%;
}

/*Main container*/
.container {
    max-width: 800px;
    padding: 10px 40px 10px 40px;
    -webkit-box-shadow: -2px -1px 50px -10px rgba(0,0,0,0.30);
    -moz-box-shadow: -2px -1px 50px -10px rgba(0,0,0,0.30);
    box-shadow: -2px -1px 50px -10px rgba(0,0,0,0.30);
}
header {
    margin-top: 20px;
}

h2 {
    color: #8c8c8c;
    font-size: 3rem;
    margin-left: 5px;
}

hr {
    border-color: #8c8c8c;
    border-width: 1px;
    margin: 10px 10px 30px 10px;
}

article {
    margin-bottom: 20px;
}

footer {
    color: #8c8c8c;
    font-size: 0.9rem;
    vertical-align: top;
}

/*Adding some style to logo picture - font entypo*/
.logo {
    color: black;
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #8c8c8c;
    font-size: 6rem;
    padding-left: 40px;
    vertical-align: top;
}

.baner-img {
    border: solid 1px;
    -webkit-box-shadow: 0 15px 40px -25px rgba(0,0,0,0.50);
    -moz-box-shadow: 0 15px 40px -25px rgba(0,0,0,0.50);
    box-shadow: 0 15px 40px -25px rgba(0,0,0,0.50);
    margin-top: 20px;
}

.article-img {
    border: solid 1px;
    max-width: 220px;
}

.articles {
    margin-bottom: 40px;
}

/*git picture from font zocial*/
.git {
    font-size: 2rem;
}

/* some style for images in modals */
.modal-img {
    margin: 0 auto;
    margin-bottom: 10px;
    border: solid 1px;
}

.footer-hr {
    border-color: #8c8c8c;
    border-width: 1px;
    margin: 10px;
}

.footer-p {
    margin: 20px;
}